USE [master]
GO
/****** Object:  Database [School]    Script Date: 2/7/2015 9:38:30 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\School.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2/7/2015 9:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Name] [nvarchar](50) NOT NULL,
	[MaxStudents] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/7/2015 9:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'10A', 30)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'10B', 30)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'10G', 30)
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Pesho', 17, N'0887123432')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Gosho', 18, N'0882436342')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Gencho', 17, N'0887665332')
USE [master]
GO
